# Compiled Java class files
*.class

# Log files
*.log

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Maven build directory
**/target/

# Node.js
node_modules/
dist/
.eslintcache

# IDEs
.idea/
.vscode/
*.iml

# Environment secrets
.env
! .env.example
