aws_region       = "ap-south-1"
project_name     = "micropay"
instance_type    = "t2.micro"
root_volume_gb   = 20

# Create an EC2 Key Pair in AWS, then set the name here
ssh_key_name     = "my-keypair-name"

# Lock SSH to your IP (recommended)
allowed_ssh_cidr = "0.0.0.0/0"

